[http]
disabled = 0

# Following is a sample HEC input for getting PADAS Alerts from Confluent Kafka Connect
# https://www.confluent.io/hub/splunk/kafka-connect-splunk
[http://padasinput]
disabled = 0
token = e8de5f0e-97b1-4485-b416-9391cbf89392
useACK = 0